<app-toast [message]="toast.message"></app-toast>
<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
    </form>
    <br />
    <form (ngSubmit)="facebooklogin()">
      <h3>Facebook Login Form:</h3>
      <button class="btn btn-primary" type="submit"><span class="fa fa-facebook"></span> Facebook</button>
    </form>
    <!--<button type="button" (click)="twitter()">Twit</button>-->
    <form (ngSubmit)="twitterlogin()">
      <h3>Twitter Login Form:</h3>
      <button class="btn btn-info" type="submit" ><span class="fa fa-twitter"></span> Twitter</button>
    </form>
    <!--<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>-->
  </div>
</div>
